div#flash_notice {
  background-color: #36a830;
  color: white;
  padding: 5px;
}

div#flash_errors {
  background-color: #c71b00;
  color: white;
  padding: 5px;
}
/*
body {
  padding: 10px;
  background-image: url("../sick_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

div#user-header {
  
  background-color:  #9a2d3d;
  color: white;
  width: 40%;
  padding: 10px;
  border-radius: 25px;
}*/

